true_localhost=localhost
docker_localhost="host.docker.internal"
localhost_var=${docker_localhost}

ARTIFITIAL_DELAY=0

API_PORT=8000

# SYSTEM_LOG_DIR_PATH=logs

DB_HOST=${localhost_var}
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=newpassword
DB_NAME=md5hashes

REDIS_URL=redis

CELERY_BROKER_PORT=6379
CELERY_BROKER_URL="redis://${REDIS_URL}:${CELERY_BROKER_PORT}/0"
CELERY_RESULT_BACKEND='db+postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:5432/${DB_NAME}'

PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin

CELERY_WORKER_FILESYSTEM_TIMEOUT=10

DELETE_FILE=False