fastapi
celery
SQLAlchemy
python-multipart
sqlalchemy-utils
uvicorn
aiofiles
requests
psycopg2
jinja2
numpy
python-dotenv
redis
flower

git+https://github.com/vaidik/sherlock@99ef85750d5fa48633b40b798f12668ea91fd700 # sherlock